<h3>PATIENT'S PERSONAL INFORMATION <small>(<large class="required">*</large> are all required fields)</small></h3>

<div class="form-group">
  <div class="col-xs-4">
    <label class="control-label">HEALTH CARE PROVIDER <large class="required">*</large></label>
    <%= f.select(:hmo_id, options_for_select(@hmo.collect{ |k, v| [k.name.titlecase, k.id]}.insert(0, "None"), @patient.hmo_id), {}, { :class => 'form-control m-b' }) %>
  </div>
</div>

<div class="form-group">
    <div class="col-xs-4">
        <label class="control-label">LAST NAME <large class="required">*</large></label>
        <%= f.text_field :last_name, autofocus: true, class: "form-control", required: true %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">FIRST NAME <large class="required">*</large></label>
        <%= f.text_field :first_name, autofocus: true, class: "form-control", required: true %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">MIDDLE NAME <large class="required">*</large></label>
        <%= f.text_field :middle_name, autofocus: true, class: "form-control", required: true %>
    </div>
</div>

<div class="form-group">
    <div class="col-xs-4">
        <label class="control-label">BIRTH DATE <large class="required">*</large></label>
        <div id="data_3">
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.text_field :birth_date, value: format_date(@patient.birth_date, "%d/%m/%Y"), autofocus: true, class: "form-control", required: true %>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
      <label class="control-label">AGE <large class="required">*</large></label>
      <%= text_field_tag "", @patient.age, id: "display_field_age", class: "form-control", disabled: true %>
      <%= f.hidden_field :age, autofocus: true, class: "form-control" %>
    </div>
    <div class="col-xs-2">
        <label class="control-label">GENDER <large class="required">*</large></label>
        <%= f.select(:gender, options_for_select(Patient.genders.collect{ |k, v| [k.humanize.titlecase, k]}, @patient.civil_status), {}, { :class => 'form-control m-b' }) %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">CIVIL STATUS <large class="required">*</large></label>
        <%= f.select(:civil_status, options_for_select(Patient.civil_statuses.collect{ |k, v| [k.humanize.titlecase, k]}, @patient.civil_status), {}, { :class => 'form-control m-b' }) %>
    </div>
</div>

<div class="form-group">
    <div class="col-xs-8">
        <label class="control-label">ADDRESS <large class="required">*</large></label>
        <%= f.text_field :address, autofocus: true, class: "form-control", required: true %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">CONTACT <large class="required">*</large></label>
        <%= f.text_field :contact, autofocus: true, class: "form-control", required: true %>
    </div>
</div>

<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label">OCCUPATION <large class="required">*</large></label>
        <%= f.text_field :occupation, autofocus: true, class: "form-control", required: true %>
    </div>
</div>

<div class="form-group">
    <div class="col-xs-4">
        <label class="control-label">BLOOD TYPE</label>
        <%= f.text_field :blood_type, autofocus: true, class: "form-control" %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">WEIGHT (kg) <large class="required">*</large></label>
        <%= f.text_field :weight, autofocus: true, class: "form-control", required: true %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">HEIGHT (ft) <large class="required">*</large></label>
        <%= f.text_field :height, autofocus: true, class: "form-control", required: true %>
    </div>
</div>


<div class="form-group">
  <div class="col-xs-12">
    <label class="control-label">REMARKS</label>
    <%= text_area_tag "patient[medical_record][remarks]", @patient.medical_record['remarks'], :class => "form-control", :style => "height: 100px;" %>
  </div>
</div>

<!--<div class="hr-line-dashed"></div>-->
<!--<h3>ATTACHMENTS <small>(pdf and image files)</small></h3>-->

<!--<div class="form-group">-->
  <!--<div class="col-md-4 col-xs-4">-->
    <!--<label class="control-label">PAST MEDICAL HISTORY</label>-->
    <!--<input id="past-medical-history" name="" type="file" multiple="" class="file-loading" data-type="medical-records" data-index="0">-->
    <!--<div id="medical-records-container" class="containers">-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-4 col-xs-4">-->
    <!--<label class="control-label">LABORATORY RESULTS</label>-->
    <!--<input id="laboratory-results" name="" type="file" multiple="" class="file-loading" data-type="laboratory-results" data-index="1">-->
    <!--<div id="laboratory-results-container" class="containers">-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-4 col-xs-4">-->
    <!--<label class="control-label">PHYSICAL EXAMINATIONS</label>-->
    <!--<input id="physical-examinations" name="" type="file" multiple="" class="file-loading" data-type="physical-examinations" data-index="2">-->
    <!--<div id="physical-examinations-container" class="containers">-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="hr-line-dashed"></div>
<div class="form-group">
    <div class="col-md-6 pull-left">
        <label> <input type="checkbox" class="i-checks" name="patient[to_appointments]"> Continue to appointment</label>
    </div>
    <div class="col-md-6 pull-right">
        <a href="<%= patients_path %>" class="btn btn-white pull-right">Cancel</a>
        <button class="btn btn-info pull-right" type="submit" style="margin: 0 5px 0 0px;"><%= params[:action] == "new" ? "Create" : "Update" %></button>
    </div>
</div>



<% content_for :javascript do %>

    <script type="text/javascript">

      <% if params[:action] != "new" %>

        <%

          @past_medical_history_document_array = []
          @past_medical_history_document_file_name_array = []

          @laboratory_results_array = []
          @laboratory_results_document_file_name_array = []

          @physical_examination_array = []
          @physical_examination_document_file_name_array = []

        %>

        <% if !@attachments.nil? %>
          <% @attachments.each_with_index do |attachment, index| %>
            <% if attachment.attachment_type == 0 %>
              <% @past_medical_history_document_array.push(attachment.document.url(:original)) %>
              <% if attachment.document_content_type == "application/pdf" %>
                <% @past_medical_history_document_file_name_array.push({type: "pdf", id: attachment, caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id}) %>
              <% else %>
                <% @past_medical_history_document_file_name_array.push({caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id}) %>
              <% end %>
            <% elsif attachment.attachment_type == 1 %>
              <% @laboratory_results_array.push(attachment.document.url(:original)) %>
              <% if attachment.document_content_type == "application/pdf" %>
                <% @laboratory_results_document_file_name_array.push({type: "pdf", caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id}) %>
              <% else %>
                <% @laboratory_results_document_file_name_array.push({caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id}) %>
              <% end %>
            <% else %>
              <% @physical_examination_array.push(attachment.document.url(:original)) %>
              <% if attachment.document_content_type == "application/pdf" %>
                <% @physical_examination_document_file_name_array.push({type: "pdf", caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id}) %>
              <% else %>
                <% @physical_examination_document_file_name_array.push({caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id}) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        $("#past-medical-history").fileinput({
          initialPreview: <%= raw(@past_medical_history_document_array) %>,
          initialPreviewAsData: true,
          initialPreviewConfig: <%= raw(@past_medical_history_document_file_name_array.to_json) %>,
          overwriteInitial: false,
          showUpload: false,
          layoutTemplates: {
            main1: "{preview}\n" +
            "<div class=\'input-group {class}\'>\n" +
            "   <div class=\'input-group-btn\'>\n" +
            "       {browse}\n" +
            "       {upload}\n" +
            "       {remove}\n" +
            "   </div>\n" +
            "   {caption}\n" +
            "</div>"
          }
        });

        $("#laboratory-results").fileinput({
          initialPreview: <%= raw(@laboratory_results_array) %>,
          initialPreviewAsData: true,
          initialPreviewConfig: <%= raw(@laboratory_results_document_file_name_array.to_json) %>,
          overwriteInitial: false,
          showUpload: false,
          layoutTemplates: {
            main1: "{preview}\n" +
            "<div class=\'input-group {class}\'>\n" +
            "   <div class=\'input-group-btn\'>\n" +
            "       {browse}\n" +
            "       {upload}\n" +
            "       {remove}\n" +
            "   </div>\n" +
            "   {caption}\n" +
            "</div>"
          }
        });

        $("#physical-examinations").fileinput({
          initialPreview: <%= raw(@physical_examination_array) %>,
          initialPreviewAsData: true,
          initialPreviewConfig: <%= raw(@physical_examination_document_file_name_array.to_json) %>,
          overwriteInitial: false,
          showUpload: false,
          layoutTemplates: {
            main1: "{preview}\n" +
            "<div class=\'input-group {class}\'>\n" +
            "   <div class=\'input-group-btn\'>\n" +
            "       {browse}\n" +
            "       {upload}\n" +
            "       {remove}\n" +
            "   </div>\n" +
            "   {caption}\n" +
            "</div>"
          }
        });

      <% end %>

    </script>

<% end %>