<h3>Patient's personal information <small>(* are all required fields)</small></h3>

<div class="form-group">
  <div class="col-xs-4">
    <label class="control-label">Health Care Provider<large class="required">*</large></label>
    <%= f.select(:hmo_id, options_for_select(@hmo.collect{ |k, v| [k.name.titlecase, k.id]}.insert(0, "None"), @patient.hmo_id), {}, { :class => 'form-control m-b' }) %>
  </div>
</div>

<div class="form-group">
    <div class="col-xs-4">
        <label class="control-label">Last Name <large class="required">*</large></label>
        <%= f.text_field :last_name, autofocus: true, class: "form-control", required: true %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">First Name <large class="required">*</large></label>
        <%= f.text_field :first_name, autofocus: true, class: "form-control", required: true %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">Middle Name <large class="required">*</large></label>
        <%= f.text_field :middle_name, autofocus: true, class: "form-control", required: true %>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-4">
        <label class="control-label">Birth Date</label>
        <div id="data_3">
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" name="patient[birth_date]" class="form-control" value="10/11/2013">
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="control-label">Gender <large class="required">*</large></label>
        <br \>
        <% Patient.genders.each do |k, v| %>
            <% if params[:action] == "new" %>
                <div class="radio radio-info radio-inline">
                    <%= f.radio_button :gender, k, id: k, checked: v == 1 ? "checked" : "" %>
                    <%= f.label :gender, k == "male" ? "Male" : "Female", :value => v  %>
                </div>
            <% else %>
                <div class="radio radio-info radio-inline">
                    <%= f.radio_button :gender, k, checked: @patient.gender == k ? "checked" : "" %>
                    <%= f.label :gender, k == "male" ? "Male" : "Female", :value => v  %>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">Civil Status <large class="required">*</large></label>
        <%= f.select(:civil_status, options_for_select(Patient.civil_statuses.collect{ |k, v| [k.humanize.titlecase, k]}, @patient.civil_status), {}, { :class => 'form-control m-b' }) %>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-8">
        <label class="control-label">Address <large class="required">*</large></label>
        <%= f.text_field :address, autofocus: true, class: "form-control", required: true %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">Contact <large class="required">*</large></label>
        <%= f.text_field :contact, autofocus: true, class: "form-control", required: true %>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label">Occupation <large class="required">*</large></label>
        <%= f.text_field :occupation, autofocus: true, class: "form-control", required: true %>
    </div>
</div>
<div class="hr-line-dashed"></div>
<div class="form-group">
    <div class="col-xs-4">
        <label class="control-label">Blood Type</label>
        <%= f.text_field :blood_type, autofocus: true, class: "form-control" %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">Weight (kg) <large class="required">*</large></label>
        <%= f.text_field :weight, autofocus: true, class: "form-control", required: true %>
    </div>
    <div class="col-xs-4">
        <label class="control-label">Height (ft) <large class="required">*</large></label>
        <%= f.text_field :height, autofocus: true, class: "form-control", required: true %>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-4">
        <label class="control-label">Menarche</label>
        <%= select_year(@patient.medical_record['menarche'].to_i, {:start_year => Time.now.year, :end_year => 1980}, {:class => "form-control m-b", :name => "patient[medical_record][menarche]"})  %>
    </div>
    <div class="col-xs-1">
        <label class="control-label">Gravida</label>
        <%= text_field_tag "patient[medical_record][gravida]", @patient.medical_record['gravida'], :class => "form-control touchspin" %>
    </div>
    <div class="col-xs-1">
        <label class="control-label">Para</label>
        <%= text_field_tag "patient[medical_record][para]", @patient.medical_record['para'], :class => "form-control touchspin"%>
    </div>
    <div class="col-xs-1">
        <label class="control-label">T</label>
        <%= text_field_tag "patient[medical_record][t]", @patient.medical_record['t'], :class => "form-control touchspin" %>
    </div>
    <div class="col-xs-1">
        <label class="control-label">P</label>
        <%= text_field_tag "patient[medical_record][p]", @patient.medical_record['p'], :class => "form-control touchspin" %>
    </div>
    <div class="col-xs-1">
        <label class="control-label">A</label>
        <%= text_field_tag "patient[medical_record][a]", @patient.medical_record['a'], :class => "form-control touchspin" %>
    </div>
    <div class="col-xs-1">
        <label class="control-label">L</label>
        <%= text_field_tag "patient[medical_record][l]", @patient.medical_record['l'], :class => "form-control touchspin" %>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label">OB History</label>
        <%= text_area_tag "patient[medical_record][ob_history]", @patient.medical_record['ob_history'], :class => "form-control", :style => "height: 100px;" %>
    </div>
</div>

<div class="hr-line-dashed"></div>
<div class="form-group">
    <div class="col-md-6 pull-right">
        <a href="<%= patients_path %>" class="btn btn-white pull-right">Cancel</a>
        <button class="btn btn-success pull-right" type="submit" style="margin: 0 5px 0 0px;"><%= params[:action] == "new" ? "Create" : "Update" %></button>
    </div>
</div>