<h1>Appointment</h1>
<fieldset>
  <h2>Appointment Information</h2>
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <label class="control-label lbl-consultation-date">Consultation Date *</label>
            <div id="fld-consultation-date">
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= text_field_tag "patient[appointments][consultation_date]", DateTime.now.to_date.strftime('%d/%m/%Y'), :class => "form-control required", :data => { :name => "consultation-date" } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label class="control-label lbl-last-name">Last Name *</label>
            <%= hidden_field_tag "patient[appointments][patient_id]", 0, :class => "form-control", :data => { :name => "patient-id" } %>
            <%= text_field_tag "patient[appointments][last_name]", "", :class => "form-control required", :data => { :name => "last-name" } %>
          </div>
          <div class="col-md-4">
            <label class="control-label lbl-first-name">First Name *</label>
            <%= text_field_tag "patient[appointments][first_name]", "", :class => "form-control required", :data => { :name => "first-name" } %>
          </div>
          <div class="col-md-4">
            <label class="control-label lbl-middle-name">Middle Name *</label>
            <%= text_field_tag "patient[appointments][middle_name]", "", :class => "form-control required", :data => { :name => "middle-name" } %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label class="control-label lbl-last-systolic">Systolic *</label>
            <%= text_field_tag "patient[appointments][systolic]", "", :class => "form-control touchspin required", :data => { :name => "systolic" } %>
          </div>
          <div class="col-md-4">
            <label class="control-label lbl-first-diastolic">Diastolic *</label>
            <%= text_field_tag "patient[appointments][diastolic]", "", :class => "form-control touchspin required", :data => { :name => "diastolic" } %>
          </div>
          <div class="col-md-4">
            <label class="control-label lbl-middle-weight">Weight (kg) *</label>
            <%= text_field_tag "patient[appointments][weight]", "", :class => "form-control required", :data => { :name => "weight" } %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label class="control-label lbl-complaint">Chief Complaint</label>
            <%= text_area_tag "patient[appointments][complaint]", "", :class => "form-control required", :style => "height: 100px;", :data => { :name => "complaint" } %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="text-center">
        <div style="margin-top: 20px">
          <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<h1>Patient</h1>
<fieldset>
    <div id="dv-new-patient-container">
        <h3>Patient Personal Information <small>(* are all required fields)</small></h3>
        <div class="hr-line-dashed"></div>
        <div class="row">

          <div class="col-lg-12">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-4">
                  <label class="control-label">Health Care Provider<large class="required">*</large></label>
                  <%= select_tag("patient[hmo_id]", options_for_select(@hmo.collect{ |k, v| [k.name.titlecase, k.id]}.insert(0, "None")), { :class => 'form-control m-b' }) %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label lbl-last-name">Last Name *</label>
                            <%= text_field_tag "patient[last_name]", "", :class => "form-control required", :data => { :name => "last-name" } %>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label lbl-first-name">First Name *</label>
                            <%= text_field_tag "patient[first_name]", "", :class => "form-control required", :data => { :name => "first-name" } %>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label lbl-middle-name">Middle Name *</label>
                            <%= text_field_tag "patient[middle_name]", "", :class => "form-control required", :data => { :name => "middle-name" } %>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-lg-12">
              <div class="form-group">
                  <div class="row">
                      <div class="col-xs-4">
                          <label class="control-label lbl-birth-date">Birth Date</label>
                          <div id="fld-birth-date">
                              <div class="input-group date">
                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                  <%= text_field_tag "patient[birth_date]", "", :class => "form-control required", :data => { :name => "birth-date" } %>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-4">
                          <label class="control-label">Gender <large>*</large></label>
                          <br \>
                          <% Patient.genders.each do |k, v| %>
                              <div class="radio radio-info radio-inline">
                                  <%= radio_button_tag "patient[gender]", k, id: k, checked: v == 1 ? "checked" : "" %>
                                  <%= label_tag "patient[gender]", k == "male" ? "Male" : "Female", :value => v  %>
                              </div>
                          <% end %>
                      </div>
                      <div class="col-xs-4">
                          <label class="control-label">Civil Status <large>*</large></label>
                          <%= select_tag("patient[civil_status]", options_for_select(Patient.civil_statuses.collect{ |k, v| [k.humanize.titlecase, k]}), { :class => 'form-control m-b' }) %>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="row">
                  <div class="col-xs-8">
                      <label class="control-label lbl-address">Address <large>*</large></label>
                      <%= text_field_tag "patient[address]", "", autofocus: true, class: "form-control required", :data => { :name => "address" } %>
                  </div>
                  <div class="col-xs-4">
                      <label class="control-label lbl-contact">Contact <large>*</large></label>
                      <%= text_field_tag "patient[contact]", "", autofocus: true, class: "form-control required", data: { mask: "(99) 9999?9-9999", :name => "contact" } %>
                      <span class="help-block">(09) 99999-9999</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <div class="row">
                  <div class="col-xs-12">
                      <label class="control-label lbl-occupation">Occupation <large>*</large></label>
                      <%= text_field_tag "patient[occupation]", "", autofocus: true, class: "form-control required", :data => { :name => "occupation" } %>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">

            <div class="form-group">
              <div class="row">
                <div class="col-xs-4">
                  <label class="control-label">Blood Type</label>
                  <%= text_field_tag "patient[blood_type]", "", autofocus: true, class: "form-control"  %>
                </div>
                <div class="col-xs-4">
                  <label class="control-label lbl-weight">Weight (kg) <large>*</large></label>
                  <%= text_field_tag "patient[weight]", "", autofocus: true, class: "form-control required", :data => { :name => "weight" } %>
                </div>
                <div class="col-xs-4">
                  <label class="control-label lbl-height">Height (ft) <large>*</large></label>
                  <%= text_field_tag "patient[height]", "", autofocus: true, class: "form-control required", :data => { :name => "height" } %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="hr-line-dashed"></div>

        <h3>Medical Record <small>(* are all required fields)</small></h3>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                <label class="control-label">Type <large class="required">*</large></label>
                <br \>
                <div class="radio radio-info radio-inline">
                  <%= radio_button_tag "patient[medical_record][type]", "ob", checked: "checked"  %>
                  <%= label_tag "patient[medical_record][type]", "OB", :value => "ob", :for => "patient_medical_record_type_ob"   %>
                </div>

                <div class="radio radio-info radio-inline">
                  <%= radio_button_tag "patient[medical_record][type]", "gyne" %>
                  <%= label_tag "patient[medical_record][type]", "Gyne", :value => "gyne", :for => "patient_medical_record_type_gyne"   %>
                </div>

              </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-4">
                  <label class="control-label">LMS</label>
                  <div id="date_lms">
                    <div class="input-group date">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span><%= text_field_tag "patient[medical_record][lmr]", "",  autofocus: true, class: "form-control" %>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                <label class="control-label">ECD</label>
                <input id="fld-edc-display" type="text" class="form-control" disabled value="" />
                <%= hidden_field_tag "patient[medical_record][edc]", "", class: "form-control"%>
              </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-4">
                  <label class="control-label">Menarche</label>
                  <%= select_year(0, {:start_year => Time.now.year, :end_year => 1980}, {:class => "form-control m-b", :name => "patient[medical_record][menarche]"})  %>
                </div>
                <div class="col-xs-1">
                  <label class="control-label">GRAVIDA</label>
                  <%= select_tag("patient[medical_record][gravida]", options_for_select(0..20, 0), :class => 'form-control m-b') %>
                </div>
                <div class="col-xs-1">
                  <label class="control-label">PARA</label>
                  <%= select_tag("patient[medical_record][para]", options_for_select(0..20, 0), :class => 'form-control m-b') %>
                </div>
                <div class="col-xs-1">
                  <label class="control-label">T</label>
                  <%= select_tag("patient[medical_record][t]", options_for_select(0..20, 0), :class => 'form-control m-b') %>
                </div>
                <div class="col-xs-1">
                  <label class="control-label">P</label>
                  <%= select_tag("patient[medical_record][p]", options_for_select(0..20, 0), :class => 'form-control m-b') %>
                </div>
                <div class="col-xs-1">
                  <label class="control-label">A</label>
                  <%= select_tag("patient[medical_record][a]", options_for_select(0..20, 0), :class => 'form-control m-b') %>
                </div>
                <div class="col-xs-1">
                  <label class="control-label">L</label>
                  <%= select_tag("patient[medical_record][l]", options_for_select(0..20, 0), :class => 'form-control m-b') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label">CHIEF COMPLAINT <large class="required">*</large></label>
                  <%= text_area_tag "patient[medical_record][chief_complaint]", "", :class => "form-control", :style => "height: 100px;", :required => true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label">HISTORY OF PRESENT ILLNESS <large class="required">*</large></label>
                  <%= text_area_tag "patient[medical_record][history_of_present_illness]", "", :class => "form-control", :style => "height: 100px;", :required => true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label lbl-ob-history">Ob-Gyne History</label>
                  <%= text_area_tag "patient[medical_record][ob_history]", "", :class => "form-control", :style => "height: 100px;", :data => { :name => "ob-history" }%>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="hr-line-dashed"></div>

        <h3>Others <small>(* are all required fields)</small></h3>

        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-4">
                  <label class="control-label">RETURN VISIT <large class="required">*</large></label>
                  <div id="fld-return-visit">
                    <div class="input-group date">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span><%= text_field_tag "patient[medical_record][return_visit]", "",  autofocus: true, class: "form-control", required: true %>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                <label class="control-label">RECORD DATE <large class="required">*</large></label>
                <div id="fld-record-date">
                  <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><%= text_field_tag "patient[medical_record][record_date]", "",  autofocus: true, class: "form-control", required: true %>
                  </div>
                </div>
              </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label">MANAGEMENT <large class="required">*</large></label>
                  <%= text_area_tag "patient[medical_record][management]", "", :class => "form-control", :style => "height: 100px;" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label class="control-label">RECOMMENDATIONS <large class="required">*</large></label>
                  <%= text_area_tag "patient[medical_record][recommendations]", "", :class => "form-control", :style => "height: 100px;" %>
                </div>
              </div>
          </div>
          </div>
        </div>


        <div class="hr-line-dashed"></div>
        <h3>ATTACHMENTS <small>(pdf and image files)</small></h3>

        <div class="row">
          <div class="form-group">
            <div class="col-md-4 col-xs-4">
              <label class="control-label">PAST MEDICAL HISTORY</label>
              <input id="past-medical-history" name="" type="file" multiple="" class="file-loading" data-type="medical-records" data-index="0">
              <div id="medical-records-container" class="containers">

              </div>
            </div>
            <div class="col-md-4 col-xs-4">
              <label class="control-label">LABORATORY RESULTS</label>
              <input id="laboratory-results" name="" type="file" multiple="" class="file-loading" data-type="laboratory-results" data-index="1">
              <div id="laboratory-results-container" class="containers">

              </div>
            </div>
            <div class="col-md-4 col-xs-4">
              <label class="control-label">PHYSICAL EXAMINATIONS</label>
              <input id="physical-examinations" name="" type="file" multiple="" class="file-loading" data-type="physical-examinations" data-index="2">
              <div id="physical-examinations-container" class="containers">

              </div>
            </div>
          </div>
        </div>

    </div>
  <div id="dv-patient-container" class="hidden">
    <div class="row">
      <div class="col-lg-10">
        <div class="jumbotron">
          <h1>Patient already registered</h1>
          <p>Please procceed to our next step.</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="text-center">
          <div style="margin-top: 20px">
            <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<h1>Review</h1>
<fieldset>
    <h2>Appointment</h2>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-md-4 mp0i">
            <div class="form-group">
                <div class="col-md-12 mp0i">
                    <div class="col-md-6">
                        <label class="control-label lbl-consultation-date">Consultation Date:</label>
                    </div>
                    <div class="col-md-6 mp0i">
                        <p id="p-consultation-date" class="review-display"></p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 mp0i">
                    <div class="col-md-6">
                        <label class="control-label lbl-consultation-date">Systolic:</label>
                    </div>
                    <div class="col-md-6 mp0i">
                        <p id="p-systolic" class="review-display"></p>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <div class="col-md-12 mp0i">
                    <div class="col-md-6">
                        <label class="control-label lbl-consultation-date">Diastolic:</label>
                    </div>
                    <div class="col-md-6 mp0i">
                        <p id="p-diastolic" class="review-display"></p>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <div class="col-md-12 mp0i">
                    <div class="col-md-6">
                        <label class="control-label lbl-consultation-date">Weight:</label>
                    </div>
                    <div class="col-md-6 mp0i">
                        <p id="p-weight" class="review-display"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-12 mp0i">
                    <div class="col-md-4">
                        <label class="control-label lbl-consultation-date">Chief Complaint:</label>
                    </div>
                    <div class="col-md-8 mp0i">
                        <p id="p-complaint" class="review-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Patient Information</h2>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-md-6 mp0i">
            <div class="form-group">
                <div class="col-md-12 mp0i">
                    <div class="col-md-3">
                        <label class="control-label lbl-consultation-date">Patient:</label>
                    </div>
                    <div class="col-md-9 mp0i">
                        <p id="p-name" class="review-display"></p>
                    </div>
                </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 mp0i">
                <div class="col-md-6">
                  <label class="control-label lbl-consultation-date">Occupation:</label>
                </div>
                <div class="col-md-6 mp0i">
                  <p id="p-occupation" class="review-display"></p>
                </div>
              </div>
              <div class="col-md-6 mp0i">
                <div class="col-md-6">
                  <label class="control-label lbl-consultation-date">Contact:</label>
                </div>
                <div class="col-md-6 mp0i">
                  <p id="p-contact" class="review-display"></p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 mp0i">
                <div class="col-md-3">
                  <label class="control-label lbl-consultation-date">Address:</label>
                </div>
                <div class="col-md-9 mp0i">
                  <p id="p-address" class="review-display"></p>
                </div>
              </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 mp0i">
                    <div class="col-md-6">
                        <label class="control-label lbl-consultation-date">Date of Birth:</label>
                    </div>
                    <div class="col-md-6 mp0i">
                        <p id="p-birth-date" class="review-display"></p>
                    </div>
                </div>
                <div class="col-md-6 mp0i">
                  <div class="col-md-6">
                    <label class="control-label lbl-consultation-date">Gender:</label>
                  </div>
                  <div class="col-md-6 mp0i">
                    <p id="p-gender" class="review-display"></p>
                  </div>
                </div>
                <div class="col-md-6 mp0i">
                  <div class="col-md-6">
                    <label class="control-label lbl-consultation-date">Civil Status:</label>
                  </div>
                  <div class="col-md-6 mp0i">
                    <p id="p-civil-status" class="review-display"></p>
                  </div>
                </div>

                <div class="col-md-6 mp0i">
                  <div class="col-md-6">
                    <label class="control-label lbl-consultation-date">Blood Type:</label>
                  </div>
                  <div class="col-md-6 mp0i">
                    <p id="p-blood-type" class="review-display"></p>
                  </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-6 mp0i">
                    <div class="col-md-6">
                        <label class="control-label lbl-consultation-date">Weight (kg):</label>
                    </div>
                    <div class="col-md-6 mp0i">
                        <p id="p-weight-2" class="review-display"></p>
                    </div>
                </div>

                <div class="col-md-6 mp0i">
                  <div class="col-md-6">
                    <label class="control-label lbl-consultation-date">Height (ft):</label>
                  </div>
                  <div class="col-md-6 mp0i">
                    <p id="p-height" class="review-display"></p>
                  </div>
                </div>

            </div>
        </div>

        <div class="col-md-6 mp0i">
            <div class="form-group">
              <div class="col-md-6 mp0i">
                <div class="col-md-6">
                  <label class="control-label lbl-consultation-date">Type: </label>
                </div>
                <div class="col-md-6 mp0i">
                  <p id="p-type" class="review-display"></p>
                </div>
              </div>
              <div class="col-md-6 mp0i">
                <div class="col-md-8">
                  <label class="control-label lbl-consultation-date">Health Care Provider: </label>
                </div>
                <div class="col-md-4 mp0i">
                  <p id="p-hmo" class="review-display"></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 mp0i">
                <div class="col-md-6">
                  <label class="control-label lbl-consultation-date">LMS: </label>
                </div>
                <div class="col-md-6 mp0i">
                  <p id="p-lms" class="review-display"></p>
                </div>
              </div>
              <div class="col-md-6 mp0i">
                <div class="col-md-8">
                  <label class="control-label lbl-consultation-date">EDC: </label>
                </div>
                <div class="col-md-4 mp0i">
                  <p id="p-edc" class="review-display"></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 mp0i">
                <div class="col-md-6">
                  <label class="control-label lbl-consultation-date">Return Visit: </label>
                </div>
                <div class="col-md-6 mp0i">
                  <p id="p-return-visit" class="review-display"></p>
                </div>
              </div>
              <div class="col-md-6 mp0i">
                <div class="col-md-8">
                  <label class="control-label lbl-consultation-date">Record Date </label>
                </div>
                <div class="col-md-4 mp0i">
                  <p id="p-record-date" class="review-display"></p>
                </div>
              </div>
            </div>
            <div class="form-group">

                <div class="col-md-4 mp0i">
                    <div class="col-md-9">
                        <label class="control-label lbl-consultation-date">Menarche:</label>
                    </div>
                    <div class="col-md-3 mp0i">
                        <p id="p-menarche" class="review-display"></p>
                    </div>
                </div>
                <div class="col-md-4 mp0i">
                    <div class="col-md-6">
                        <label class="control-label lbl-consultation-date">Gravida:</label>
                    </div>
                    <div class="col-md-6 mp0i">
                        <p id="p-gravida" class="review-display"></p>
                    </div>
                </div>
                <div class="col-md-4 mp0i">
                    <div class="col-md-6">
                        <label class="control-label lbl-consultation-date">Para:</label>
                    </div>
                    <div class="col-md-6 mp0i">
                        <p id="p-para" class="review-display"></p>
                    </div>
                </div>
                <div class="col-md-3 mp0i">
                    <div class="col-md-4">
                        <label class="control-label lbl-consultation-date">T:</label>
                    </div>
                    <div class="col-md-8 mp0i">
                        <p id="p-t" class="review-display"></p>
                    </div>
                </div>
                <div class="col-md-3 mp0i">
                    <div class="col-md-4">
                        <label class="control-label lbl-consultation-date">P:</label>
                    </div>
                    <div class="col-md-8 mp0i">
                        <p id="p-p" class="review-display"></p>
                    </div>
                </div>
                <div class="col-md-3 mp0i">
                    <div class="col-md-4">
                        <label class="control-label lbl-consultation-date">A:</label>
                    </div>
                    <div class="col-md-8 mp0i">
                        <p id="p-a" class="review-display"></p>
                    </div>
                </div>
                <div class="col-md-3 mp0i">
                    <div class="col-md-4">
                        <label class="control-label lbl-consultation-date">L:</label>
                    </div>
                    <div class="col-md-8 mp0i">
                        <p id="p-l" class="review-display"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mp0i">
          <div class="col-md-12">
            <label class="control-label lbl-consultation-date">Ob-Gyne History:</label>
            <p id="p-ob-history" class="review-display"></p>
          </div>
        </div>

        <div class="col-md-12 mp0i">
          <div class="col-md-12">
            <label class="control-label lbl-history-of-present-illness">History of Present Illness:</label>
            <p id="p-history-of-present-illness" class="review-display"></p>
          </div>
        </div>

        <div class="col-md-12 mp0i">
          <div class="col-md-12">
            <label class="control-label lbl-management">Management:</label>
            <p id="p-management" class="review-display"></p>
          </div>
        </div>

        <div class="col-md-12 mp0i">
            <div class="col-md-12">
                <label class="control-label lbl-recomendations">Recomendations:</label>
                <p id="p-recommendations" class="review-display"></p>
            </div>
        </div>
    </div>
</fieldset>


