<style>
  .input-group-btn-vertical .bootstrap-touchspin-down {
    margin: -7px 0 0 -1px !important;
  }

  .required {
    color: #ca4440;
  }

    .mp0i {
      margin: 0 !important;
      padding: 0 !important;
    }

  .inline-group label,
  inline-group p {
    display:inline;
  }


  .record-container {

    min-height: 230px;
  }
@media print {
      body, html, #wrapper {
          width: 100%;
      }
}
</style>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Patient Details</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_url %>">Home</a>
      </li>
      <li>
        <a href="<%= patients_path %>">Patients</a>
      </li>
      <li class="active">
        <strong>Patient Details</strong>
      </li>
    </ol>
  </div>
    <div class="col-lg-2">
        <button class="btn btn-info btn-sm pull-right" style="margin: 32px 0 0 0;" onclick="printDiv('printableArea')"><i class="fa fa-print"></i> Print Patient Information</button> 
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="contentArea">
        <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Personal Information: </h5>
        </div>
        <div class="ibox-content">
          <div class="row record-container">    

            <div class="col-md-12">
              <div class="form-group">
                <div class="inline-group col-xs-8">
                  <label class="control-label">Patient: </label>
                  <p><%= "#{ @patient.last_name }, #{@patient.first_name } #{@patient.middle_name }" %></p>
                </div>
                <div class="inline-group col-xs-6">
                  <label class="control-label">Occupation: </label>
                  <p><%= @patient.occupation %></p>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <div class="inline-group col-xs-4">
                  <label class="control-label">Birthdate: </label>
                  <p><%= format_date(@patient.birth_date, "%d/%m/%Y") %></p>
                </div>
                <div class="inline-group col-xs-4">
                  <label class="control-label">Gender: </label>
                  <p><%= @patient.gender.titlecase %></p>
                </div>
                <div class="inline-group col-xs-4">
                  <label class="control-label">Civil Status: </label>
                  <p><%= @patient.civil_status.titlecase %></p>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <div class="inline-group col-xs-8">
                  <label class="control-label">Address: </label>
                  <p><%= @patient.address %></p>
                </div>
                <div class="inline-group col-xs-4">
                  <label class="control-label">Contact: </label>
                  <p><%= @patient.contact %></p>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <div class="inline-group col-xs-4">
                  <label class="control-label">Blood Type: </label>
                  <p><%= @patient.blood_type %></p>
                </div>
                <div class="inline-group col-xs-4">
                  <label class="control-label">Weight: </label>
                  <p><%= @patient.weight %></p>
                </div>
                <div class="inline-group col-xs-4">
                  <label class="control-label">Height: </label>
                  <p><%= @patient.height %></p>
                </div>
              </div>
            </div>

          </div>

          <div class="hr-line-dashed"></div>

        </div>
      </div>
    </div>

    <!--<div class="col-lg-12">-->
      <!--<div class="ibox float-e-margins">-->
        <!--<div class="ibox-title">-->
          <!--<h5>Attachments: </h5>-->
        <!--</div>-->
        <!--<div class="ibox-content">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="row">-->
                <!--<div class="form-group">-->
                  <!--<div class="col-md-4 col-xs-4">-->
                    <!--<label class="control-label">PAST MEDICAL HISTORY</label>-->
                    <!--<input id="past-medical-history" name="" type="file" multiple="" class="file-loading" data-type="medical-records" data-index="0">-->
                    <!--<div id="medical-records-container" class="containers">-->

                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-4 col-xs-4">-->
                    <!--<label class="control-label">LABORATORY RESULTS</label>-->
                    <!--<input id="laboratory-results" name="" type="file" multiple="" class="file-loading" data-type="laboratory-results" data-index="1">-->
                    <!--<div id="laboratory-results-container" class="containers">-->

                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-4 col-xs-4">-->
                    <!--<label class="control-label">PHYSICAL EXAMINATIONS</label>-->
                    <!--<input id="physical-examinations" name="" type="file" multiple="" class="file-loading" data-type="physical-examinations" data-index="2">-->
                    <!--<div id="physical-examinations-container" class="containers">-->

                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


        <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Appointments: </h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12">
              <div class="well">
                <table class="table table-striped table-bordered table-hover " id="tbl-appointments">
                  <thead>
                  <tr>
                    <th>Complaint</th>
                    <th>Record Date</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @appointments.each do |appointment|  %>
                      <tr class="gradeX">
                        <td class="ellipsis"><%= appointment.medical_records["chief_complaint"] %></td>
                        <td><%= format_date(appointment.consultation_date, "%Y %B %d") %></td>
                        <td><%= appointment.appointment_type.humanize.titlecase %></td>
                        <td><%= appointment.status.humanize.titlecase %></td>
                        <td>
                          <div class="btn-group">
                            <a href="<%= patient_appointment_details_path(appointment.id) %>" class="btn btn-white btn-xs">View Details</a>
                          </div>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>  
    <div id="printableArea" class="hidden">
        <div class="col-lg-12">
            <h3>Patient Information</h3>
            <div class="col-md-12" style="border-bottom: 1px dashed black;margin-bottom: 10px;"></div>
            <div class="col-md-12" style="margin:0 !important; padding: 0 !important;">
                <label class="control-label">Patient: </label>
                <p><%= "#{ @patient.last_name }, #{@patient.first_name } #{@patient.middle_name }" %></p>
            </div>
            <div class="col-md-12" style="margin:0 !important; padding: 0 !important;">
                <label class="control-label">Occupation: </label>
                <p><%= @patient.occupation %></p>
            </div>
            <div class="col-md-12" style="margin:0 !important; padding: 0 !important;">
                <div class="col-xs-4" style="margin:0 !important; padding: 0 !important;">
                  <label class="control-label">Birthdate: </label>
                  <p><%= format_date(@patient.birth_date, "%d/%m/%Y") %></p>
                </div>
                <div class="col-xs-4" style="margin:0 !important; padding: 0 !important;">
                  <label class="control-label">Gender: </label>
                  <p><%= @patient.gender.titlecase %></p>
                </div>
                <div class="col-xs-4" style="margin:0 !important; padding: 0 !important;">
                  <label class="control-label">Civil Status: </label>
                  <p><%= @patient.civil_status.titlecase %></p>
                </div>
            </div>
            <div class="col-md-12" style="margin:0 !important; padding: 0 !important;">
                <div class="col-xs-8" style="margin:0 !important; padding: 0 !important;">
                  <label class="control-label">Address: </label>
                  <p><%= @patient.address %></p>
                </div>
                <div class="col-xs-4" style="margin:0 !important; padding: 0 !important;">
                  <label class="control-label">Contact: </label>
                  <p><%= @patient.contact %></p>
                </div>
            </div>
            <div class="col-md-12" style="margin:0 !important; padding: 0 !important;">
                <div class="col-xs-4" style="margin:0 !important; padding: 0 !important;">
                  <label class="control-label">Blood Type: </label>
                  <p><%= @patient.blood_type %></p>
                </div>
                <div class="col-xs-4" style="margin:0 !important; padding: 0 !important;">
                  <label class="control-label">Weight: </label>
                  <p><%= @patient.weight %></p>
                </div>
                <div class="col-xs-4" style="margin:0 !important; padding: 0 !important;">
                  <label class="control-label">Height: </label>
                  <p><%= @patient.height %></p>
                </div>
            </div>
            <h3>Appointments</h3>
            <div class="col-md-12" style="border-bottom: 1px dashed black;margin-bottom: 10px;"></div>
            <% @appointments.each do |appointment|  %>
                <div class="row" style="margin-top:25px !important;">
                    <div class="col-md-12" style="">
                        <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                            <h4><span style="color:#ABAB"><%= format_date(appointment.consultation_date, "%Y %B %d") %></span> - <%= appointment.appointment_type.humanize.titlecase %></h4>
                        </div>
                        <div class="col-md-12" style="border-bottom: 1px dashed black;margin-bottom: 10px;padding: 0 !important;"></div>
                        <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                            <% if appointment.appointment_type == "return_visit" %>

                                <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">

                                    <div class="col-xs-3" style="margin:0 !important; padding: 0 !important;">
                                      <p><label class="control-label">Type: </label>
                                      <%= get_appointment_prev(appointment.parent_id).medical_records["type"].titlecase %></p>
                                    </div>

                                    <div class="col-xs-3" style="margin:0 !important; padding: 0 !important;">
                                      <p><label class="control-label">LMP: </label>
                                        <%= get_appointment_prev(appointment.parent_id).medical_records["lmp"] %></p>
                                    </div>

                                    <div class="col-xs-3" style="margin:0 !important; padding: 0 !important;">
                                      <p><label class="control-label">EDC: </label>
                                        <%= get_appointment_prev(appointment.parent_id).medical_records["edc"] %></p>
                                    </div>
                                    <div class="col-xs-3" style="margin:0 !important; padding: 0 !important;">
                                      <p><label class="control-label">AOG: </label>
                                        <%= get_appointment_prev(appointment.parent_id).medical_records["aog"] %></p>
                                    </div>
                                </div>
                                <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">

                                <div class="col-xs-3" style="margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">Menarche: </label>
                                  <%= get_appointment_prev(appointment.parent_id).medical_records["menarche"] %></p>
                                </div>

                                <div class="col-xs-2" style="margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">Gravida: </label>
                                  <%= get_appointment_prev(appointment.parent_id).medical_records["gravida"] %></p>
                                </div>

                                <div class="col-xs-1" style="white-space:nowrap;margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">Para: </label>
                                  <%= get_appointment_prev(appointment.parent_id).medical_records["para"] %></p>
                                </div>

                                <div class="col-xs-1" style="margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">T: </label>
                                  <%= get_appointment_prev(appointment.parent_id).medical_records["t"] %></p>
                                </div>

                                <div class="col-xs-1" style="margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">P: </label>
                                  <%= get_appointment_prev(appointment.parent_id).medical_records["p"] %></p>
                                </div>

                                <div class="col-xs-1" style="margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">A: </label>
                                  <%= get_appointment_prev(appointment.parent_id).medical_records["a"] %></p>
                                </div>

                                <div class="col-xs-1" style="margin:0 !important; padding: 0 !important;">
                                  <p> <label class="control-label">L: </label>
                                  <%= get_appointment_prev(appointment.parent_id).medical_records["l"] %></p>
                                </div>

                            </div>
                            <% else %>

                                <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">

                                <div class="col-xs-3" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">Type: </label>
                                  <%= appointment.medical_records["type"].titlecase %></p>
                                </div>

                                <div class="col-xs-3" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;" >
                                  <p><label class="control-label">LMP: </label>
                                    <%= appointment.medical_records["lmp"] %></p>
                                </div>

                                <div class="col-xs-3" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">EDC: </label>
                                    <%= appointment.medical_records["edc"] %></p>
                                </div>

                                <div class="col-xs-3" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">AOG: </label>
                                    <%= appointment.medical_records["aog"] %></p>
                                </div>

                            </div>
                                <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">

                                <div class="col-xs-3" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">Menarche: </label>
                                  <%= appointment.medical_records["menarche"] %></p>
                                </div>

                                <div class="col-xs-2" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">Gravida: </label>
                                  <%= appointment.medical_records["gravida"] %></p>
                                </div>

                                <div class="col-xs-1" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">Para: </label>
                                  <%= appointment.medical_records["para"] %></p>
                                </div>

                                <div class="col-xs-1" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">T: </label>
                                  <%= appointment.medical_records["t"] %></p>
                                </div>

                                <div class="col-xs-1" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">P: </label>
                                  <%= appointment.medical_records["p"] %></p>
                                </div>

                                <div class="col-xs-1" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                                  <p><label class="control-label">A: </label>
                                  <%= appointment.medical_records["a"] %></p>
                                </div>

                                <div class="col-xs-1" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                                  <p> <label class="control-label">L: </label>
                                  <%= appointment.medical_records["l"] %></p>
                                </div>
                            </div>
                            <% end %>
                        </div>
</div>
                    <div class="col-md-12" style="margin:0 !important; padding: 0 !important;">
                        <% if appointment.appointment_type == "return_visit" %>
                        
                          <div class="col-md-6" style="margin:0 !important; padding: 0 !important;">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="inline-group col-xs-12">
                                    <label class="control-label">Previous Complaint : </label>
                                    <p><%= get_appointment_prev(appointment.parent_id).medical_records['chief_complaint'] %></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                        <% end %>
                        
                    <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="inline-group col-xs-12">
                                <label class="control-label">Chief Complaint : </label>
                                <p><%= appointment.medical_records['chief_complaint'] %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="inline-group col-xs-12">
                                <label class="control-label">History of Present Illness: </label>
                                <p><%= appointment.medical_records['history_of_present_illness'] %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="inline-group col-xs-12">
                                <label class="control-label">Ob-Gyne History: </label>
                                <p><%= appointment.medical_records['ob_history'] %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="inline-group col-xs-12">
                                <label class="control-label">Diagnosis: </label>
                                <p><%= appointment.medical_records['diagnosis'] %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="inline-group col-xs-12">
                                <label class="control-label">Past Medical History: </label>
                                <p><%= appointment.medical_records['past_medical_history'] %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="inline-group col-xs-12">
                                <label class="control-label">Laboratory Results: </label>
                                <p><%= appointment.medical_records['laboratory_results'] %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="inline-group col-xs-12">
                                <label class="control-label">Physical Examinations: </label>
                                <p><%= appointment.medical_records['physical_examinations'] %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="inline-group col-xs-12">
                                <label class="control-label">Management: </label>
                                <p><%= appointment.management %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12" style="page-break-inside:avoid;margin:0 !important; padding: 0 !important;">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="inline-group col-xs-12">
                                <label class="control-label">Recomendations: </label>
                                <p><%= appointment.recommendations  %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">


      <%

         @past_medical_history_document_array = []
         @past_medical_history_document_file_name_array = []

         @laboratory_results_array = []
         @laboratory_results_document_file_name_array = []

         @physical_examination_array = []
         @physical_examination_document_file_name_array = []

       %>

      <% if !@attachments.nil? %>
      <% @attachments.each_with_index do |attachment, index| %>
      <% if attachment.attachment_type == 0 %>
      <% @past_medical_history_document_array.push(attachment.document.url(:original)) %>
      <% if attachment.document_content_type == "application/pdf" %>
      <% @past_medical_history_document_file_name_array.push({type: "pdf", id: attachment, caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id, showDelete: false}) %>
      <% else %>
      <% @past_medical_history_document_file_name_array.push({caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id, showDelete: false}) %>
      <% end %>
      <% elsif attachment.attachment_type == 1 %>
      <% @laboratory_results_array.push(attachment.document.url(:original)) %>
      <% if attachment.document_content_type == "application/pdf" %>
      <% @laboratory_results_document_file_name_array.push({type: "pdf", caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id, showDelete: false}) %>
      <% else %>
      <% @laboratory_results_document_file_name_array.push({caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id, showDelete: false}) %>
      <% end %>
      <% else %>
      <% @physical_examination_array.push(attachment.document.url(:original)) %>
      <% if attachment.document_content_type == "application/pdf" %>
      <% @physical_examination_document_file_name_array.push({type: "pdf", caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id, showDelete: false}) %>
      <% else %>
      <% @physical_examination_document_file_name_array.push({caption: attachment.document_file_name, size: attachment.document_file_size, width: "120px", key: attachment.id, showDelete: false}) %>
      <% end %>
      <% end %>
      <% end %>
      <% end %>

      window.onload = function() {
        $('.file-caption-main').addClass('hidden')
      };

      $(function() {

        $('#tbl-appointments').dataTable();

        $("#past-medical-history").fileinput({
          initialPreview: <%= raw(@past_medical_history_document_array) %>,
          initialPreviewAsData: true,
          initialPreviewConfig: <%= raw(@past_medical_history_document_file_name_array.to_json) %>,
          overwriteInitial: false,
          showUpload: false,
          layoutTemplates: {
            main1: "{preview}\n" +
            "<div class=\'input-group {class}\'>\n" +
            "   <div class=\'input-group-btn\'>\n" +
            "       {browse}\n" +
            "       {upload}\n" +
            "       {remove}\n" +
            "   </div>\n" +
            "   {caption}\n" +
            "</div>"
          }
        });

        $("#laboratory-results").fileinput({
          initialPreview: <%= raw(@laboratory_results_array) %>,
          initialPreviewAsData: true,
          initialPreviewConfig: <%= raw(@laboratory_results_document_file_name_array.to_json) %>,
          overwriteInitial: false,
          showUpload: false,
          layoutTemplates: {
            main1: "{preview}\n" +
            "<div class=\'input-group {class}\'>\n" +
            "   <div class=\'input-group-btn\'>\n" +
            "       {browse}\n" +
            "       {upload}\n" +
            "       {remove}\n" +
            "   </div>\n" +
            "   {caption}\n" +
            "</div>"
          }
        });

        $("#physical-examinations").fileinput({
          initialPreview: <%= raw(@physical_examination_array) %>,
          initialPreviewAsData: true,
          initialPreviewConfig: <%= raw(@physical_examination_document_file_name_array.to_json) %>,
          overwriteInitial: false,
          showUpload: false,
          layoutTemplates: {
            main1: "{preview}\n" +
            "<div class=\'input-group {class}\'>\n" +
            "   <div class=\'input-group-btn\'>\n" +
            "       {browse}\n" +
            "       {upload}\n" +
            "       {remove}\n" +
            "   </div>\n" +
            "   {caption}\n" +
            "</div>"
          }
        });

        $('.i-checks').iCheck({
          checkboxClass: 'icheckbox_square-green',
          radioClass: 'iradio_square-green',
        });

      });

      var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
          }
        }
      }




    </script>

<% end %>