<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Appointments</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Appointments</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-success pull-right" style="margin: 30px 0 0 0;" href="#modal-form" data-toggle="modal"><i class="fa fa-plus"></i> Make Appointment</a>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-current">Current Appointments</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-future">Future Appointments</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-overdue">Overdue</a></li>
                </ul>
                <div class="tab-content">
                  <div id="tab-current" class="tab-pane active">
                        <div class="panel-body">
                             <table class="table table-striped table-bordered table-hover " id="tbl-appointments">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Patient Name</th>
                                        <th>Record Date</th>
                                        <th>Complaint</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @appointments_current.each do |appointment_current|  %>
                                        <tr class="gradeX">
                                            <td><%= appointment_current.patient_id %></td>
                                            <td><a href="<%= edit_appointment_path(appointment_current.id) %>"><%= get_patient_by_id(appointment_current.patient_id) %></a></td>
                                            <td><%= format_date(appointment_current.consultation_date, "%Y %B %d") %></td>
                                            <td><%= appointment_current.complaint %></td>
                                            <td><%= appointment_current.appointment_type.humanize.titlecase %></td>
                                            <td class="center">
                                              <% if  appointment_current.status != "complete" %>
                                                <div class="btn-group" data-appointment-id="<%= appointment_current.id %>" data-patient="<%= get_patient_by_id(appointment_current.patient_id) %>">
                                                  <button class="btn btn-<%= get_appointment_current_status(appointment_current.status, "queued") %> btn-xs btn-status-<%= appointment_current.id %> btn-current-status" type="button"  data-type="queued">Queued</button>
                                                  <button class="btn btn-<%= get_appointment_current_status(appointment_current.status, "inprogress") %> btn-xs btn-status-<%= appointment_current.id  %> btn-current-status" type="button" data-type="inprogress">Inprogress</button>
                                                  <button class="btn btn-<%= get_appointment_current_status(appointment_current.status, "complete") %> btn-xs btn-status-<%= appointment_current.id  %> btn-current-status-complete" type="button" data-type="complete">Complete</button>
                                                </div>
                                              <% else %>
                                                  <div class="btn-group" data-appointment-id="<%= appointment_current.id %>" data-patient="<%= get_patient_by_id(appointment_current.patient_id) %>">
                                                    <button class="btn btn-white btn-xs" type="button"  data-type="queued" disabled>Queued</button>
                                                    <button class="btn btn-white btn-xs" type="button" data-type="inprogress" disabled>Inprogress</button>
                                                    <button class="btn btn-success btn-xs" type="button" data-type="complete">Completed</button>
                                                  </dwhite<% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Patient Name</th>
                                        <th>Record Date</th>
                                        <th>Complaint</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                  <div id="tab-future" class="tab-pane">
                    <div class="panel-body">

                      <table class="table table-striped table-bordered table-hover " id="tbl-future">
                        <thead>
                        <tr>
                          <th>Patient ID</th>
                          <th>Patient Name</th>
                          <th>Record Date</th>
                          <th>Complaint</th>
                          <th>Type</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @appointments_future.each do |appointment|  %>
                            <tr class="gradeX">
                              <td><%= appointment.patient_id %></td>
                              <td><a href="<%= edit_appointment_path(appointment.id) %>"><%= get_patient_by_id(appointment.patient_id) %></a></td>
                              <td><%= format_date(appointment.consultation_date, "%Y %B %d") %></td>
                              <td><%= appointment.complaint %></td>
                              <td><%= appointment.appointment_type.humanize.titlecase %></td>
                              <td><%= appointment.status.titlecase %></td>
                              <td class="center" >
                                <div class="btn-group" data-id="<%= appointment.id %>" data-patient-name="<%= get_patient_by_id(appointment.patient_id) %>">
                                  <button class="btn btn-success %> btn-xs btn-future-reschedule" type="button">Reschedule</button>
                                  <button class="btn btn-danger %> btn-xs btn-future-cancel btn-future-status-cancel" type="button">Cancel</button>
                                </div> </td>
                            </tr>
                        <% end %>

                        </tbody>
                        <tfoot>
                        <tr>
                          <th>Patient ID</th>
                          <th>Patient Name</th>
                          <th>Record Date</th>
                          <th>Complaint</th>
                          <th>Type</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <div id="tab-overdue" class="tab-pane">
                        <div class="panel-body">

                          <table class="table table-striped table-bordered table-hover " id="tbl-appointments-all">
                            <thead>
                            <tr>
                              <th>Patient ID</th>
                              <th>Patient Name</th>
                              <th>Record Date</th>
                              <th>Complaint</th>
                              <th>Type</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @appointments_overdue.each do |appointment|  %>
                                <tr class="gradeX">
                                  <td><%= appointment.patient_id %></td>
                                  <td><%= get_patient_by_id(appointment.patient_id) %></td>
                                  <td><%= format_date(appointment.consultation_date, "%Y %B %d") %></td>
                                  <td><%= appointment.complaint %></td>
                                  <td><%= appointment.appointment_type.humanize.titlecase %></td>
                                  <td><%= appointment.status.titlecase %></td>
                                  <td class="center">
                                    <div class="btn-group" data-id="<%= appointment.id %>" data-patient-name="<%= get_patient_by_id(appointment.patient_id) %>">
                                      <button class="btn btn-success %> btn-xs btn-overdue-reschedule" type="button">Reschedule</button>
                                      <button class="btn btn-danger %> btn-xs btn-overdue-status-cancel" type="button">Cancel</button>
                                    </div>
                                  </td>
                                </tr>
                            <% end %>

                            </tbody>
                            <tfoot>
                            <tr>
                              <th>Patient ID</th>
                              <th>Patient Name</th>
                              <th>Record Date</th>
                              <th>Complaint</th>
                              <th>Type</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mdl-appointment" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><i class="fa fa-calendar"></i> <span id="mdl-header">Manage Appointment</span></h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h4 id="mdl-message"></h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="fld-hdn-appointment-id">
        <button type="button" class="btn btn-success btn-sm" id="mdl-btn-complete">Confirm</button>
        <button type="button" class="btn btn-danger btn-sm hidden" id="mdl-btn-cancel">Confirm</button>
        <button type="button" class="btn btn-white btn-sm" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="mdl-appointment-reschedule" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-calendar"></i> <span id="mdl-reschedule-header">Reschedule Appointment</span></h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label class="control-label lbl-consultation-date">New Consultation Date *</label>
            <%= hidden_field_tag "appointment_id", ""%>
            <div id="fld-new-consultation-date">
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= text_field_tag "new_date", "", autofocus: true, class: "form-control ", required: true%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="fld-hdn-appointment-id">
        <button type="button" class="btn btn-success btn-sm" id="mdl-btn-reschedule">Update</button>
        <button type="button" class="btn btn-white btn-sm" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="modal-form" class="modal fade" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 b-r">
            <div class="coll-lg-12" style="min-height: 165px;">
              <h4 class="text-center">Schedule An</h4><br \>
              <a href="<%=  new_appointment_path %>" class="btn btn-block btn-outline btn-success">Appointment</a>
              <h5 class="text-center">or</h5>
              <a href="<%= new_follow_up_path  %>" class="btn btn-block btn-outline btn-warning">Follow Up</a>
            </div>
          </div>
          <div class="col-sm-6">
            <p class="text-center">
              <a href=""><i class="fa fa-calendar big-icon"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
