<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Account Settings</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_url %>">Home</a>
      </li>
      <li>
        <a>Settings</a>
      </li>
      <li class="active">
        <strong>Account Settings</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <table class="table no-more-tables m-t-20 m-l-20 m-b-30" style="margin-top:20px;">
            <thead style="display:none">
            <tr>
              <th style="width:9%">Name</th>
              <th style="width:22%">Username</th>
              <th style="width:6%">Contact</th>
              <th style="width:1%"> </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="v-align-middle bold text-primary">Name</td>
              <td class="v-align-middle"><span class="muted"><%= @user.first_name %> <%= @user.last_name %></span> </td>
              <td><span class="muted bold" id="edit-name" style="cursor:pointer;">Edit</span> </td>
              <td class="v-align-middle"></td>
            </tr>
            <tr>
              <td class="v-align-middle bold text-primary">Username</td>
              <td class="v-align-middle"><span class="muted"><%= @user.username %></span> </td>
              <td><span class="muted bold" id="edit-username" style="cursor:pointer;">Edit</span> </td>
              <td class="v-align-middle"></td>
            </tr>
            <tr>
              <td class="v-align-middle bold text-primary">Contact</td>
              <td class="v-align-middle"><span class="muted"><%= @user.email %></span> </td>
              <td><span class="muted bold" id="edit-contact" style="cursor:pointer;">Edit</span> </td>
              <td class="v-align-middle"></td>
            </tr>
            <tr>
              <td class="v-align-middle bold text-primary">Password</td>
              <td class="v-align-middle"><span class="muted">Update you current password.</span> </td>
              <td><span class="muted bold" id="edit-password" style="cursor:pointer;">Edit</span> </td>
              <td class="v-align-middle"></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mdl-edit-account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for @user, url: { action: "update_account_settings" }, :html => { :multipart => true, :class => "form-horizontal", :id => "form-condensed" } do |f| %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <br>
            <h4 id="myModalLabel" class="semi-bold text-center">Account Information</h4>
            <p class="no-margin text-center"">Update your <span id="spn-edit-name" class="semi-bold">name</span></p>
            <br>

            <div id="dv-name-container" class="hidden">
              <div class="row">
                <div class="col-md-6">
                  <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name", required: true %>
                </div>
                <div class="col-md-6">
                  <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Last Name", required: true %>
                </div>
              </div>
            </div>
            <div id="dv-username-container" class="hidden">
              <div class="row form-row">
                <div class="col-md-12">
                  <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "First Name", required: true %>
                </div>
              </div>
            </div>
            <div id="dv-contact-container" class="hidden">
              <div class="row form-row">
                <div class="col-md-12">
                  <%= f.text_field :email, autofocus: true, class: "form-control", placeholder: "First Name", required: true %>
                </div>
              </div>
            </div>
            <div id="dv-password-container" class="hidden">
              <div class="row form-row">
                <div class="col-md-6">
                  <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "New Password", required: true %>
                </div>
                <div class="col-md-6">
                  <%= f.password_field :password_confirmation, autofocus: true, class: "form-control", placeholder: "Confirm Password", required: true %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    <% end %>
  </div>
</div>
