<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <div style="margin: 0 0 0 -40px;">
                    <% if app_settings.logo.present? %>
                        <img alt="image" src="<%= app_settings.logo.url(:medium) %>" width="250"/>
                    <% end %>
                    </div>
                </div>
                <div class="logo-element">
                    <% if app_settings.body["app_initials"].present? %>
                        <%= app_settings.body["app_initials"] %>
                    <% else %>
                        IN+
                    <% end %>
                </div>
            </li>
            
            <li class="<%= is_active_controller('dashboard') %>">
                <%= link_to root_path do %>
                    <i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.metrics">Dashboard</span>
                <% end %>
            </li>
            
            <li class="<%= is_active_controller('patients') %>">
                <%= link_to patients_path do %>
                    <i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.metrics">Patients</span>
                <% end %>
            </li>
            
            <li class="<%= is_active_path('appointments') %>">
                <a href=""><i class="fa fa-calendar"></i> <span class="nav-label" data-i18n="nav.dashboard">Appointments</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('dashboards') %>">
                    <li><%= link_to "Appointments", appointments_path %></li>
                    <li><%= link_to " History", appointment_history_path %></li>
                </ul>
            </li>
            
            <% if super_and_admin_roles %>
                <li class="<%= is_active_path('settings') %>">
                    <a href=""><i class="fa fa-cogs"></i> <span class="nav-label" data-i18n="nav.dashboard">Settings</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse <%= is_active_controller('dashboards') %>">
                        <li><%= link_to "General", settings_general_index_path %></li>
                        <li><%= link_to "User Management", settings_user_management_index_path %></li>
                    </ul>
                </li>
            <% end %>
            
        </ul>

    </div>
</nav>